<!DOCTYPE html>
<html>
<head>
    <title>reCaptcha</title>
</head>
<body>
    <form action="" method="post">
    <script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k=6Lf6seoSAAAAAH1AHkDKirSvhtWJu6ibiMxee4Qw"></script>
    <noscript>
        <iframe src="http://www.google.com/recaptcha/api/noscript?k=6Lf6seoSAAAAAH1AHkDKirSvhtWJu6ibiMxee4Qw" height="300" width="500" frameborder="0"></iframe><br>
         <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
         <input type="hidden" name="recaptcha_response_field" value="manual_challenge">
    </noscript>
    </form>
</body>
</html>